.gallery {
  margin-bottom: 10px;
}

.title {
    display: block;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 10px 10px;

}



