.movieList {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.movieList::-webkit-scrollbar {
  display: none;
}

.movieList {
  scroll-behavior: smooth;
}

.scrollArrow {
  position: sticky;
  display: flex;
  align-items: center;
  height: auto;
  align-content: center;
  text-align: center;
  top: 0;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.rightArrow {
  right: 0;
}

.leftArrow {
  left: 0px;
}

.scrollArrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}