.video-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px;
}

.video-card {
  flex: 0 1 250px; // adjust width here
  margin: 10px;
}

/* spacing/layout for responsive design */
@media (max-width: 768px) {
  .video-card {
    flex: 0 1 50%;
  }
}